:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 12px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-left: 1110px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100px;
  height: 30px;
  background-color: #F5F7F9;
  margin-left: 11px;
  margin-right: 11px;
}

.item.selected {
  background-color: #787878;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 9px;
}

.calendar-main {
  display: flex;
  margin-left: 400px;
}

.calendar-times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 530px;
  margin-top: 100px;
  margin-right: 32px;
}

.calendar-dates {
  display: flex;
  justify-content: space-between;
  width: 811px;
  margin-left: 22px;
}

.date {
  border: 1px solid;
  border-radius: 100px;
  width: 79px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-top: 13px;
  margin-bottom: 13px;
}