:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 12px;
}

.app-container {
  display: flex;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

.calendar-name {
  margin-left: 760px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100px;
  height: 26px;
  background-color: #F5F7F9;
  margin-left: 11px;
  margin-right: 11px;
}

.item.selected {
  background-color: #787878;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #F5F7F9;
  box-shadow: 4px 4px 0px #000000;
}

.calendar-main {
  display: flex;
  margin-left: 54px;
}

.calendar-times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-top: 60px;
  margin-right: 32px;
}

.calendar-dates {
  display: flex;
  justify-content: space-between;
  width: 811px;
  margin-left: 22px;
}

.date {
  border: 1px solid;
  border-radius: 100px;
  width: 79px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-bottom: 13px;
}

.calendar-line {
  margin: 0px;
  color: black;
}

.sign-in {
  width: 243px;
  height: 196px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.event-create {
  width: 243px;
  border: 1px solid black;
  height: 400px;
}

.calendar-widget {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.widgets-container {
  display: flex;
  flex-direction: column;
  margin-left: 102px;
  margin-top: 90px;
}